<ion-view view-title="{{viewTitle}}">
   <ion-content id="editar-cuento"> <!-- ng-controller defined in config -->
       <div class="list card">
            <label class="item item-input item-floating-label">
                <span class="input-label padding">Título</span>
                <input class="titulo" type="text" placeholder="Título" ng-model="cuento.titulo">
            </label>
            <label class="item item-input item-floating-label" >
                <span class="input-label" style="float:left;">Cuento</span>
                <span ng-bind="npalabras" class="palabras" ng-class="{ 'overflow': np>100 }"></span>
                <textarea class="cuento" name="" placeholder="Cuento" id="" rows="5" ng-model="cuento.cuento"></textarea>
            </label>
            <input type="hidden" ng-model="cuento.fecha_mod">
       </div>
       <div class="padding">
           <button class="button button-block button-positive" ng-click="saveCuento()">Guardar</button>
       </div><!-- /.padding -->
   </ion-content>
</ion-view>