<ion-view view-title="Ingresar" name="login-view">
  <ion-content class="padding" id="login">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Clave" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login()">Ingresa</button>
         
        <p style="text-align:center">O bien</p>
                  
        <button class="button button-block button-positive" ng-click="login()">Crea tu cuenta</button>
        
        <p style="text-align:center; margin-top:40px">También puedes</p>
        
    <button class="button button-block button-positive" ng-click="loginFB()">
        Ingresar usando Facebook
    </button>
  </ion-content>
</ion-view>