/Users/Adisius/Dropbox/projects/app100p/app100p
/Users/Adisius/Dropbox/projects/app100p/bower.json
/Users/Adisius/Dropbox/projects/app100p/config.xml
/Users/Adisius/Dropbox/projects/app100p/gulpfile.js
/Users/Adisius/Dropbox/projects/app100p/hooks
/Users/Adisius/Dropbox/projects/app100p/ionic.project
/Users/Adisius/Dropbox/projects/app100p/npm-debug.log
/Users/Adisius/Dropbox/projects/app100p/package.json
/Users/Adisius/Dropbox/projects/app100p/platforms
/Users/Adisius/Dropbox/projects/app100p/plugins
/Users/Adisius/Dropbox/projects/app100p/resources
/Users/Adisius/Dropbox/projects/app100p/scss